.vscode/*
todo-api/bin/*
todo-api/src/main/resources/static/*
.classpath
.gradle/
.project
.settings/
todo-ui/.gradle/
build/libs/todo-0.0.1-SNAPSHOT.jar
build/tmp/jar/MANIFEST.MF
todo-ui/package-lock.json
todo-ui/build/tmp/jar/MANIFEST.MF
todo-ui/build/libs/todo-ui-0.0.1-SNAPSHOT.jar
